<!DOCTYPE html>
<html>
<head>
    <title>LondonNavigator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/chatFunctions.js') }}" defer></script>
</head>
<body>
    <div class="content-wrapper">
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/chat">Chat</a>
        </div>
        <div class="chat-container">
            <div id="chat" class="chat">
                <div class="message incoming">
                    Hi! I'm your AI-powered navigation assistant! Ask me questions about routes (e.g. 'How can I get from X to Y?'), disruptions (e.g. 'Is the Circle Line fine right now?'), or both (e.g. 'I want to get from A to B, are there any disruptions I should be aware of?'), and I'll do my best to help!
                </div>
            </div>
            <textarea id="message" class="chat-input" placeholder="Ask about routes, disruptions, preferences..." rows="2"></textarea>
            <button id="send" class="chat-send" onclick="sendMessage()">Send</button>
        </div>
    </div>
</body>
</html>