<!DOCTYPE html>
<html>
<head>
    <title>LondonNavigator</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
     <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
     <style>
        #map {
            height: 720px;
        }
        .icon {
            width: 20px;
            height: 20px;
            display: inline-block;
            background-size: cover;
        }
        .icon.walking { background-image: url('static/icons/walking.png');}
        .icon.bus { background-image: url('static/icons/bus.png');}
        .icon.tube { background-image: url('static/icons/tube.png');}
    </style>
</head>
<body>
    <h2>Find a Route</h2>
    <form id="routeForm">
        <p>Inputs should be either postcodes or lat,long coordinates (no whitespace).</p>
        <label for="start">Start:</label><br>
        <input type="text" id="start" name="start" required><br>
        <label for="end">End:</label><br>
        <input type="text" id="end" name="end" required><br><br>
        <input type="button" value="Find Route" onclick="findRoute()">
    </form>

    <div id="map"></div>
    <div id="journeyDetails"></div>

    <script>
        var map = L.map('map').setView([51.505, -0.09], 13);
        var polylines = [];
        var journeys;

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        function findRoute() {
            var start = document.getElementById('start').value;
            var end = document.getElementById('end').value;

            fetch('/getroute', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `start=${encodeURIComponent(start)}&end=${encodeURIComponent(end)}`
            })
            .then(response => response.json())
            .then(data => {
                journeys = data;
                displayJourneys(journeys);
                if (journeys.length > 0) {
                    toggleJourney(document.querySelector('.journey h3'), 0);
                }
            })
            .catch(error => console.error('Error:', error));
        }

        function drawRoute(legs) {
            // remove previous route
            clearRoute();
            // draw new route
            legs.forEach(leg => {
                var coordinates = leg.coordinates;
                var { color, dashArray } = getPolylineStyle(leg.mode, leg.line);
                var polyline = L.polyline(coordinates, {color: color, dashArray: dashArray}).addTo(map);
                polylines.push(polyline);
            });
            // bounds of entire route
            var bounds = L.featureGroup(polylines).getBounds();
            map.fitBounds(bounds);
        }

        function clearRoute() {
            polylines.forEach(polyline => {
                map.removeLayer(polyline);
            });
            polylines = [];
        }

        function getPolylineStyle(mode, line) {
            var style = {
                color: 'grey',
                dashArray: ''
            };
            
            if (mode === 'walking') {
                style.dashArray = '5, 5';
            } else if (mode === 'bus') {
                style.color = 'red';
            } else if (mode === 'tube') {
                style.color = tubeLineColour(line);
            }

            return style;
        }

        function tubeLineColour(line) {
            // Source: https://content.tfl.gov.uk/tfl-colour-standard-issue-08.pdf
            var colours = {
                'Bakerloo': '#a65a2a',
                'Central': '#e1251b',
                'Circle': '#ffcc00',
                'District': '#007934',
                'Hammersmith-City': '#ec9bad',
                'Jubilee': '#7b868c',
                'Metropolitan': '#870f54',
                'Northern': '#000000',
                'Piccadilly': '#000f9f',
                'Victoria': '#00a0df',
                'Waterloo-City': '#6bcdb1'
            };

            return colours[line] || 'grey';
        }

        function displayJourneys(journeys) {
            var detailsContainer = document.getElementById('journeyDetails');
            detailsContainer.innerHTML = '';

            console.log(journeys);
            journeys.forEach((journey, index) => {
                console.log(journey);
                var journeyDiv = document.createElement('div');
                journeyDiv.className = 'journey';
                journeyDiv.innerHTML =  `
                    <h3>
                        Journey ${index + 1}
                        <small>(${journey.startTime} - ${journey.arrivalTime})</small>
                        ${journey.modes.map(mode => `<span class="icon ${mode}"></span>`).join('')}
                        <span class="journey-duration">${journey.duration} minutes</span>    
                    </h3>
                    <div>${journey.legs.map(leg => `
                        <div class="leg">
                            <h4>Leg</h4>
                            <div>
                                <p><b>Mode:</b> ${leg.mode.name}</p>
                                <p><b>From:</b> ${leg.departurePoint.commonName}</p>
                                <p><b>To:</b> ${leg.arrivalPoint.commonName}</p>
                                <p><b>Departure Time:</b> ${leg.departureTime}</p>
                                <p><b>Arrival Time:</b> ${leg.arrivalTime}</p>
                                <p><b>Duration:</b> ${leg.duration} minutes</p>
                                ${leg.instruction.detailed ? `<p><b>Instructions:</b> ${leg.instruction.detailed}</p>` : ''}
                            </div>
                        </div>
                    `).join('')}</div>
                `;
                detailsContainer.appendChild(journeyDiv);
            });
        }

        document.getElementById('journeyDetails').addEventListener('click', function(event) {
            if (event.target.tagName === 'H3' && event.target.parentElement.className === 'journey') {
                var index = Array.from(this.children).indexOf(event.target.parentElement);
                toggleJourney(event.target, index);
            }
        });

        function toggleJourney(headerElement, index) {
            // toggle visibility of journey details
            var nextElement = headerElement.nextElementSibling;
            nextElement.style.display = "block";
            // hide other journeys
            Array.from(headerElement.parentElement.parentElement.children).forEach((journey, i) => {
                if (i !== index) {
                    journey.children[1].style.display = "none";
                }
            });

            clearRoute();
            if (journeys && journeys.length > index) {
                drawRoute(journeys[index].mapData);
            }
        }

    </script>
</body>
</html>
